<style>

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 50px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }

ul {
  list-style-type: none;
}
li {
  display: inline-block;
}

</style>

<div class="overlay">

</div>


<title>Comment Labeler</title>
</head>
<body>
    <div class="main">
      <div style="text-align:center">
      <br><br><br>
      <div class="starter-template">
      <h2> Help me label YouTube comments!</h2>
<br>

<form method="POST" action="/labeler">
<div><h3>Select a file to label</h3></div>
  <select name="commentfile" id="commentfile" class="selectpicker form-control">
      <option selected="selected" value = ''>Select File</option>
      <option value="replace_me">replace_me</option>
  </select>
  <br><br>
    <button type="submit">Label!</button>
</form>

    </div>
    </div>
  </body>



