<!-- A really basic homepage. You may want to look at Bootstrap CSS examples to customize your own app! -->

<!-- your CSS goes between <style> </style> -->
<style>

body{
  background-image:url({{ url_for('static', filename='img/calum-lewis-391372-unsplash.jpg') }});
  width:100%;
  background-size: cover;
}
   
@media only screen and (max-width: 800px) {
    body { background-size: auto;}
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
}
 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 100px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 1.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h4 {
 font-size: 1em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }

input[type=button], input[type=submit], input[type=reset] {
    width: 260px;
    height: 35px;
    background: #2E3759;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: white;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #2E3759;
}
input[type='checkbox']:hover{
    background: #515e91;
}

</style>

<div class="overlay">

</div>


<title>FoodMood</title>
</head>
<body>
    <div class="main">
      <div style="text-align:center">
      <br><br><br>
      <div class="starter-template">
        <h2>FoodMood: Find cooking videos for your mood</h2>
<hr>
  <form id="style_form" action="/recommended_videos" method="POST">
      <div><h3>Select any video preferences:</h3></div>
      <div class="panel-body">
        <h4>Duration:</h4>
        <ul>
          <li><input type="checkbox" name="timelist" value="short"> <b>short (0-1 min)</b></li>
          <li><input type="checkbox" name="timelist" value="medium"> <b>medium (1-10 min)</b></li>
          <li><input type="checkbox" name="timelist" value="long"> <b>long (10+ min)</b></li>
        </ul>
        <h4>Views:</h4>
        <ul>
          <li><input type="checkbox" name="viewlist" value="popular"><b>Popular</b></li>
          <li><input type="checkbox" name="viewlist" value="average"><b>Average</b></li>
          <li><input type="checkbox" name="viewlist" value="undiscovered"><b>Undiscovered</b></li>
        </ul>
        <h4>Uploaded:</h4>
        <ul>
          <li><input type="checkbox" name="uploadlist" value="recent"> <b>recent</b></li>
          <li><input type="checkbox" name="uploadlist" value="any"> <b>anytime</b></li>
        </ul>
      </div>
      <h3>Select any topics:</h3>
        <div class="panel-body">
            <div class="input">
              <ul>
                <li><input type="checkbox" name="taglist" value="anything"> <b>Anything!</b></li>
                {% for tag in tags %}   
                <li><input type="checkbox" name="taglist" value="{{tag}}"> <b>{{tag}}</b></li>
                {% endfor %}
              </ul>
            </div>
        </div>
      <div><h3>Select an audience reaction:</h3></div>
      <div class="panel-body">
          <input type ="submit" name="action" value="Relaxed" style="height:50px; width:100px">
          <input type ="submit" name="action" value="Excited" style="height:50px; width:100px" >
          <input type ="submit" name="action" value="Joking" style="height:50px; width:100px">
          <input type ="submit" name="action" value="Annoyed" style="height:50px; width:100px">
      </div>
 </form>



    </div>
    </div>
</body>
