<style>

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 80px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 1.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }

 .main hr {
  border: none;
  border-top: 1px solid whitesmoke;
}

</style>


<title>FoodMood</title>
</head>
<body>
<div class="main">
  <div style="text-align:center">
  <br><br>
  <div class="starter-template">

<br><br>
<h1>You might like these channels!</h1>

<div class="container">
  <div class="starter-template">
    
        <p class="lead"><a href="{{link1}}"><h3>{{channel1}}</h3></a> <br> 
        Check out <b>{{title1}}</b><br> <a style="text-decoration:none; color:#ff0000;" href="{{desc1}}"><img src="{{thumb1}}" width="200" height="100"></a>
        
  </div>
  <br><br>
<hr>
  <div class="container">
    <div class="starter-template">
    
        <p class="lead"><a href="{{link2}}"><h3>{{channel2}}</h3></a> <br> 
        Check out <b>{{title2}}</b>: <br> <a style="text-decoration:none; color:#ff0000;" href="{{desc2}}"><img src="{{thumb2}}" width="200" height="100"></a>
    
    </div>
  <br><br>
<hr>
	<div class="container">
      <div class="starter-template">
  
        <p class="lead"><a href="{{link3}}"><h3>{{channel3}}</h3></a> <br> 
        Check out <b>{{title3}}</b>: <br><a style="text-decoration:none; color:#ff0000;" href="{{desc3}}"><img src="{{thumb3}}" width="200" height="100"></a>
  
  <br><br>
  </div>
</div>


</div></div>
</body>
