<style>

body{
  background-image:url({{ url_for('static', filename='img/calum-lewis-391372-unsplash.jpg') }});
  width:100%;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
    body { background-size: auto;}
}

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 80px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 1.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }

a:link, a:visited {
  color: #2E3759;
  text-decoration: none;
}

a:hover, a:active {
  color: #515e91;
}

.container{
  margin: 0 auto;
  align-content: center;
  max-width: 600px;
  min-width: 200px;
}
</style>
<div class="overlay">
</div>
<title>FoodMood</title>
</head>
<body>
<div class="main">
  <div style="text-align:center">
  <br><br>
<h1>You might like these videos!</h1>
<hr>
{% for title,url,thumb,desc in vid_data %}
<div class="container">
  <div class="starter-template">
    <p class="lead">
    <a href="https://www.youtube.com/watch?v={{url}}"><h3>{{title}}</h3><br>
    <img src="{{thumb}}" width="250" height="150"></a><br>
    <p>{{desc}}</p>
    <hr>
</div></div>
{% endfor %}
</div></div>
</body>
